[submodule "tmux"]
	path = tmux
	url = git@github.com:ultrahertz/tmux.git
[submodule "vim"]
	path = vim
	url = git@github.com:begriffs/haskell-vim-now.git
[submodule "bash"]
	path = bash
	url = git@github.com:ultrahertz/bash.git
[submodule "xmonad"]
	path = xmonad
	url = git@github.com:ultrahertz/xmonad.git
[submodule "dwm"]
	path = dwm
	url = git@github.com:ultrahertz/dwm-jamesf.git
